body {
  background-color: #202020;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  font-family: "Cinzel Decorative", serif;
  font-style: normal;
}

h1 {
  font-size: 65px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

button {
  border: none;
  cursor: pointer;
  min-width: 50px;
  min-height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 8px black;
  border-radius: 30px;
  background-color: gray;
  font-family: "Cinzel Decorative", serif;
  font-style: normal;
  font-weight: 400;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 768px) {
  button {
    font-size: 25px;
  }
}

.button-rows {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

#bat {
  background-image: url("../images/bat.jpg");
}
#barret_50_cal {
  background-image: url("../images/Barret_M82_silhouette.svg");
}
#eldritch_blast {
  background-image: url("../images/eldritch_blast.png");
}
#taco_bell {
  background-image: url("../images/taco_bell.svg");
}
